.the-slider .the-items {
  --items-grid-row: 1 / span 3;
  --items-grid-column: 1 / span 3;

  --child-width: calc(
    (100% - (var(--per-view, 1) - 1) * var(--items-gap, 24px)) /
      var(--per-view, 1)
  );

  grid-row: var(--items-grid-row);
  grid-column: var(--items-grid-column);

  display: flex;
  gap: var(--items-gap, 24px);

  transition: all 0.25s ease-out;
  transform: translate3d(
    calc(
      var(--active-slide, 1) * (var(--child-width) + var(--items-gap, 24px)) *
        -1
    ),
    0,
    0
  );

  & > * {
    flex-shrink: 0;
    width: var(--child-width);
  }
}
