.the-zlider-items {
  --items-grid-row: 1 / span 3;
  --items-grid-column: 1 / span 3;

  --child-width: calc(
    (100% - (var(--per-view, 1) - 1) * var(--items-gap, 0)) / var(--per-view, 1)
  );

  // inc --active-slide decimals ( 0.0 till 1.0)
  --zlider-transition: calc(
    var(--active-slide, 1) * (var(--child-width) + var(--items-gap, 0)) * -1
  );

  grid-row: var(--items-grid-row);
  grid-column: var(--items-grid-column);

  display: flex;
  gap: var(--items-gap, 0);
  cursor: pointer;
  user-select: none;
  transition: all var(--zlider-transition-duration)
    var(--zlider-transition-easing);
  transform: translate3d(var(--zlider-transition), 0, 0);

  & > * {
    flex-shrink: 0;
    width: var(--child-width);
  }
}
