.the-zlider {
  --zlider-rows: 3;
  --zlider-columns: 3;

  --navigation-row: 2;
  --navigation-column-prev: 1;
  --navigation-column-next: 3;
  --navigation-icone-prev: "<";
  --navigation-icone-next: ">";

  --pagination-column: 1 / span 3;
  --pagination-row: 3;
  --pagination-bg-color: tranparent;
  --pagination-height: 4px;
  --pagination-width: 100%;

  --zlider-transition-duration: 0.25s;
  --zlider-transition-easing: cubic-bezier(0.25, 0.46, 0.45, 0.94);

  position: relative;
  overflow-x: clip;

  display: grid;
  grid-template-rows: repeat(var(--zlider-rows), 1fr);
  grid-template-columns: repeat(var(--zlider-columns), 1fr);

  button {
    all: unset;
  }
}
