$navigation-map: (
  "prev": (
    justify-self: start,
  ),
  "next": (
    justify-self: end,
  ),
);

%navigation {
  // no code

  &-prev,
  &-next {
    position: relative;
    grid-row: var(--navigation-row, 2);
    grid-column: var(--navigation-column);

    &-top {
      --navigation-row: 1;
    }

    &-bottom {
      --navigation-row: 3;
    }
  }

  @each $item, $props in $navigation-map {
    &-#{$item} {
      --navigation-column: var(--navigation-column-#{$item});

      @each $prop, $value in $props {
        #{$prop}: $value;
      }

      &::after {
        content: var(--navigation-icone-#{$item});
      }
    }
  }
}
