.the-zlider-pagination {
  --tzp-bullet-width: calc(100% / (var(--pagination-bullets) + 1));
  --tzp-color-bg: #000;

  grid-row: var(--pagination-row, 3);
  grid-column: var(--pagination-column, 1 / span 3);
  align-self: end;

  background-color: var(--pagination-bg-color, transparent);
  height: var(--pagination-height);
  width: var(--pagination-width);

  &-progress {
    background-color: var(--tzp-color-bg);
    height: inherit;
    width: calc(var(--tzp-bullet-width) * (var(--active-slide) + 1));
    transition: all 0.4s ease;
  }

  &-scrollbar {
    background-color: var(--tzp-color-bg);
    height: inherit;
    width: var(--tzp-bullet-width);
    margin-left: calc(var(--tzp-bullet-width) * var(--active-slide));
    transition: all 0.4s ease;
  }
}
